{% extends 'base.html' %}
{% load static %}

{% block profile %}
<link rel="stylesheet" href="{% static 'oam_portfolio/asset/styles/profile.css' %}">
{% endblock %}

{% block profile-heading %}
{% endblock %}

{% block profile-container %}
<div class="p-main-box">

	<div class="p-col p-col-x">
		<div class="p-content p-content-x">
			<h2><img src="">| About</h2>
			<p>Problem solver, Creator, Innovator and Coding geek.<p>
			<p>As a child, I loved playing computer games. Advancing, I felt the need to solve issues. My passion for
		    technology and love for solving problems gave rise to computer programming.<p>
			<p>To develop an Application is like creating a brand location for every business owner or organisations.<p>
			<p>I’m most driven to experience a happy and satisfied client upon completion of an active and efficient
			project that is most suitable for my client’s business objectives.</p>
			<p><em>The success of your business is the reason I keep coding and logic in reasoning.</em></p>
		</div>

		<div class="p-content p-content-xx">
			<h2>| Achievement</h2>
			<p>Problem solver, Creator, Innovator and Coding geek.<p>
			<p>As a child, I loved playing computer games. Advancing, I felt the need to solve issues. My passion for
		    technology and love for solving problems gave rise to computer programming.<p>
			<p>To develop an Application is like creating a brand location for every business owner or organisations.<p>
			<p>I’m most driven to experience a happy and satisfied client upon completion of an active and efficient
			project that is most suitable for my client’s business objectives.</p>
			<p><em>The success of your business is the reason I keep coding and logic in reasoning.</em></p>
		</div>
	</div>

	<div class="p-col p-col-xx">
		<div class="p-content p-content-xxx">
			<div class="p-skill p-skill-x">
				<h2>| Skills</h2>
				<dl>
					<dt>Technical skills</dt>
					<dd>Python - Django and Django REST APIs</dd>
					<dd>JavaScript - Node.js (Express.js)</dd>
					<dd>Applications: MS Visio, Pycharm, Atom</dd>
					<dd>Operating systems: Windows</dd>
					<dd>Knowledge of Database Management Systems</dd>

					<dt>Soft skills</dt>
					<dd>Communication and integrating software component</dd>
					<dd>Adaptability and work ethic</dd>
					<dd>Problem solving and attention to details</dd>
					<dd>Group Dynamics and Collaboration</dd>
				</dl>
			</div>
		</div>
	</div>

</div>


{% endblock %}