*{
    box-sizing: border-box;
}

div.container{
    background-color: gray;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    padding: 10px;
}

div.cv-head-box{
    width:70%;
    text-align: center;
    margin: auto;
}

div.cv-row{
    width:100%;
}

div.cv-ed-box{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}


/* e-small nad small devices devices (phones, 600px and down)*/
@media only screen and (max-width:768px){

    div.cv-head-box{
        width:100%;
        text-align: center;
        margin: auto;
        padding: 10px;
    }

    div.cv-col{
        width:100%;
    }


    div.cv-inside-content{
        padding-top:5px;
    }

}


/* m-devices and large (landscape tablets and large phones, 768px and up)*/
@media only screen and (min-width:768px){


    div.cv-main{
     content:"";
     clear: both;
     display: table;
     width: 75%;
     margin: auto;
    }

    div.cv-col{
        width:100%;
        float: left;
    }

    div.cv-inside-content{
        padding-top:5px;
        width:100%;
        float: left;
    }

}


/* x-large devices (large laptops/desktops, 1200px and up)*/
@media only screen and (min-width:992px){


    div.cv-main{
     content:"";
     clear: both;
     display: table;
     width: 80%;
     margin: auto;
    }

    div.cv-col{
        width:100%;
        float: left;
    }

    div.cv-col-head{
        width: 35%;
    }

    div.cv-col-cont{
        width: 65%;
    }

    div.cv-inside-content{
        padding-top:5px;
        width:100%;
        float: left;
    }
}