*{
 box-sizing: border-box;
}


/* e-small nad small devices devices (phones, 600px and down)*/
@media only screen and (max-width:768px){

    div.ws-col{
     width:100%;
     border:1px solid green;
    }
}


/* m-devices and large (landscape tablets and large phones, 768px and up)*/
@media only screen and (min-width:768px){

    div.container-fluid{
     content:"";
     clear: both;
     display: table;
     width: 100%;
     margin: 0;
     padding: 15px;
    }

    div.ws-col{
        float: left;
        padding:5px;
        border:1px solid blue;
    }

    div.ws-col-x{
        width: 30%;
        color:blue;
    }

    div.ws-col-xx{
        width: 70%;
    }
}


/* x-large devices (large laptops/desktops, 1200px and up)*/
@media only screen and (min-width:992px){

}